@charset "UTF-8";
html{
	height: 100%;
	width: 100%;
	max-width: 100%;
}
body{
	background-color: black;
	max-width: 100%;
	
	width: 100%;
	height: 100%;

	margin: 0px;
}
.Container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.Top-Banner{
	flex-grow: 0;

	background-color: #ffffff;

	min-height: 200px;
	height: 450px;
}
.Middle-Banner{
	flex-grow: 1;

	background: rgb(37,37,60);
	background: radial-gradient(circle, rgb(25, 25, 36) 0%, rgb(10, 10, 10) 100%);
}
.Shadow{
	width: 100%;
	height: 100px;
}
.Shadow-Top-Bottom{
	position: absolute;
	margin-top: 0px;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}
.Shadow-Bottom-Top{
	position: relative;
	margin-bottom: 0px;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}
.Center-Field{
	transition: linear 200ms;
	box-shadow: 0px 0px 20px #000000;
	background-color: #e47208;
	background: linear-gradient(
		300deg,
		rgb(143, 18, 18) 0%,
		rgb(255, 115, 0) 100%
	);
	min-height: 250px;
	position: relative;
	
	height: auto;
}
.Fields{
	transition: linear 200ms;

	max-width: 900px;
	margin-top: -125px;
	margin-left: auto;
	margin-right: auto;
}
.Center-Bounds{
	padding-left: 60px;
	padding-top: 30px;
	padding-right: 60px;
	padding-bottom: 30px;
	height: auto;

	text-align: center;
	text-align-last: center;
	font-family: "Segoe UI",Roboto,sans-serif;
}
h1{
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.356);
	transition: linear 200ms;

	color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 36px;
	line-height: 47px;
	text-transform: uppercase;
}
strong{
	font-weight: 600;
}
p{
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.93);
	transition: linear 200ms;

	color: rgb(255, 255, 255);
	font-size: 18px;
	font-kerning: 1px;
	font-weight: 100;
	margin: 0px;
	line-height: 22px;
}
.Bottom-Field{
	transition: linear 200ms;

	margin-top: 50px;
	margin-bottom: 100px;

	min-height: 450px;
	max-width: 900px;
	position: relative;
	display: block;
	-webkit-box-pack: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	justify-content: center;
}
.AlignBox{
	align-content: center;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
	width: auto;
	-webkit-box-flex: 0;
	display: flex;
	flex-direction: row;
}
.Social{
	order: 1;
	white-space: nowrap;
	font-family: "Segoe UI",Roboto,sans-serif;
	width: auto;
	margin-right: 100px;
	margin-top: 60px;
	margin-bottom: 60px;
	display: block;

}
.Social h1{
	font-size: 54px;
	line-height: 45px;
	font-kerning: 1.3px;
	font-weight: 600;
}
.Social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	flex-wrap: nowrap;
	display: flex;
	margin-right: 0px;
	display: inline-block;
	width: 300px;

	font-size: 16px;
	line-height: 30px;
	font-kerning: 8px;
	font-weight: 400;
}
.Social li{
	float: left;
}
.Social li a{
	transition: linear 100ms;
	filter: invert(40%);

	text-transform: uppercase;
	display: block;
	color: white;
	text-align: center;
	margin-right: 20px;
	text-decoration: none;
}
.Social li a:hover{
	transition: linear 100ms;
	filter: invert(100%);

	text-decoration: none;
}
.Social li a:visited{
	text-decoration: none;
}
.Social li a:active{
	text-decoration: none;
}
.Social li a img{
	
	height: 60px;
	width: 60px;
}
.Social li a img:hover{
	color: white;
}
.Links{
	order: 2;
	white-space: nowrap;
	font-family: "Segoe UI",Roboto,sans-serif;
	width: auto;
	font-size: 19px;
	font-weight: 700;
	min-width: 300px;
	margin-top: 60px;
	margin-bottom: 60px;
	display: block;
}
.Link-List{
	list-style: square;
	margin-right: 0px;
	display: inline-block;

	font-size: 25px;
	line-height: 67px;
	font-kerning: 0.37px;
	font-weight: 600;
}
.List-Entry{
	float: left;
	clear: left;
	color: white;
	position: relative;
	margin-right: 100px;
}
.Link-List a{
	transition: linear 100ms;

	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.Link-List a:hover{
	transition: linear 100ms;

	color: rgb(78, 78, 78);
	text-decoration: none;
}
.Link-List a:visited{
	text-decoration: none;
}
.Link-List a:active{
	text-decoration: none;
}
.Bottom-Banner{
	flex-grow: 1;
	font-family: "Segoe UI",Roboto,sans-serif;
	background-color: #000000;
	min-height: 150px;
	max-height: 250px;
	height: auto;
	text-align: center;
	color: white;
}
.Bottom-Banner h1{
	margin-top: 0;
}
.Bottom-Banner h2{
	margin-top: 0;
	font-weight: 500;

}
@media (max-width: 1000px) {
	.Fields{
		margin-left: 50px;
		margin-right: 50px;
	}
}
@media (max-width: 850px){
	.AlignBox{
		flex-direction: column;
	}
	.Social{
		margin-right: 0;
	}
	.Links{
		margin-left: 90px;
	}
}
@media (max-width: 670px) {
	.Fields{
		margin-left: 0px;
		margin-right: 0px;
	}

	h1{
		font-size: 20px;
	}
	
}
@media (max-width: 300px) {
	.Center-Bounds{
		padding-right: 15px;
		padding-left: 15px;
	}
}