@charset "UTF-8";
:root {
	--a-bg-color: #ffffff;
	--b-bg-color: #07a91d;
	--c-bg-color: #4b4b4b;
	--d-bg-color: #1f1f1f;
	--e-bg-color: #000000;
}
html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--a-bg-color);
}
a {
	transition: linear 100ms;
	text-decoration: none;
}
a:hover {
	transition: linear 100ms;
	color: var(--b-bg-color);
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.Header-Container {
	z-index: 2;
	position: fixed;
	width: 100%;
}
.Header-Header {
	transition: linear 100ms;
	width: 1300px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--a-bg-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.Header-Logo-Box {
	width: 350px;
	background-color: var(--b-bg-color);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Header-Logo-Box h1 {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Solway;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 124.88%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	letter-spacing: 0.1em;
	color: var(--a-bg-color);
}
.Logo-Link {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Logo {
	height: 80%;
}
.Navbar-Button{
	background-image: url(../assets/MenuItem.webp);
	background-size: cover;
	display: none;
	height: 60px;
	width: 60px;
	margin: 20px;
	margin-left: auto;
}
.Navbar-Button:hover{
	cursor: pointer;
}
.Header-Logo-Links {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: Solway;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 124.88%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	color: #4b4b4b;
}
.Header-Logo-Links-Enabled {
	display: flex !important;
}
.Header-Logo-LinkBox {
	margin-left: 40px;
	margin-right: 40px;
	white-space: nowrap;
	color: var(--c-bg-color);
}
.Parallax {
	margin: 0;
	height: 800px;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto;
	background-position-y: -10vw;
	box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.5);
}
.Parallax-Static-1 {
	background-image: url(../assets/ConceptArt.webp);
}
.Center-Grid-Field-Container {
	width: 100%;
	margin: 0;
	margin-bottom: 80px;
}
.Center-Grid-Field {
	transition: linear 100ms;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, auto);
}
.Center-Grid-Item {
	width: 300px;
	height: 300px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.Order-Item-1{
	order: 1;
}
.Order-Item-2{
	order: 2;
}
.Order-Item-3{
	order: 3;
}
.Order-Item-4{
	order: 4;
}
.Order-Item-5{
	order: 5;
}
.Order-Item-6{
	order: 6;
}
.Order-Item-7{
	order: 7;
}
.Order-Item-8{
	order: 8;
}
.Order-Item-9{
	order: 9;
}
.Center-Grid-Item-Tall {
	z-index: 1;
	margin: 0;
	padding: 0;
	width: 300px;
	height: 500px;
	align-self: flex-end;
	background-color: var(--a-bg-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.Center-Grid-Item-Tall-Header {
	margin-right: 20px;
	margin-left: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 18px;
	color: var(--c-bg-color);
}
.Item-Image {
	margin: 0;
	background-size: cover;
	height: 300px;
	width: 300px;
	box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 1);
}
.Item-Image-1 {
	background-image: url("../assets/Homeworld.webp");
}
.Item-Image-2 {
	background-image: url("../assets/Chess.webp");
}
.Item-Image-3 {
	background-image: url("../assets/Code.webp");
}
.Item-Image-4 {
	background-image: url("../assets/Liquid.webp");
}
.Item-Image-5 {
	background-image: url("../assets/TAGEGE.webp");
}
.Item-Image-6 {
	background-image: url("../assets/SwainThresh.webp");
}
.Item-Image-Arrow{
	z-index: 1;
	height: 100%;
	width: 100%;
	background-image: url("../assets/ImageArrow.webp");
}
.Item-Image-Arrow-1{
	transform: rotate(0deg);
}
.Item-Image-Arrow-2{
	transform: rotate(90deg);
}
.Item-Image-Arrow-3{
	transform: rotate(180deg);
}
.Item-Image-Arrow-4{
	transform: rotate(0deg);
}
.Center-Grid-Item-TextRows {
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.Center-Grid-Item-TextRows-Full{
	margin-right: 50px;
}
.TextBox-Header {
	width: auto;
	text-transform: uppercase;
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	margin: 10px;
	margin-top: 36px;
	margin-left: 36px;
	line-height: 20px;
	letter-spacing: 0.12em;
	color: var(--c-bg-color);
}
.TextBox-Paragraph {
	width: auto;
	font-family: Solway;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	margin: 10px;
	margin-left: 36px;
	line-height: 20px;
	letter-spacing: 0.1em;
}
.TextBox-Paragraph-Light {
	font-weight: 400;
	margin-bottom: 36px;
}
.Arrow {
	align-self: flex-end;
	height: 50px;
	width: 50px;
	background-color: var(--b-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.Arrow img {
	height: 70%;
	width: 70%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); 
}
.TextBox-Container-Wide {
	width: 200px;
	height: 150px;
	background-color: #000000;
	border: 2px solid white;
}
.Social-Container {
	width: 100%;
	margin: 0;
	display: flex;
}
.Social-Left{
	height: 300px;
	width: calc(50% - 150px);
	background-color: var(--a-bg-color);
	display: flex;
	flex-direction: row-reverse;
}
.Social-Right {
	height: 300px;
	width: calc(50% + 150px);
	background-color: var(--d-bg-color);
	display: flex;
	box-shadow: inset 0px 14px 10px -8px #000000;
}
.Social-Box-Container{
	height: 300px;
	width: 300px;
}
.Social-Box-LatestProjects{
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}
.Social-Box-LatestProjects-Header{
	margin: 10px;
	margin-top: 30px;
	margin-left: 20px;
	text-transform: uppercase;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	line-height: 17px;
	letter-spacing: 4px;
	color: var(--a-bg-color);
}
.Social-Box-LatestProjects-Paragraph{
	margin: 10px;
	margin-left: 20px;
	font-family: Solway;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 2px;
	color: var(--a-bg-color);
}
.Social-Box-LatestProjects-Link{
	transition: linear 100ms;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: var(--b-bg-color);
	text-decoration: underline;
}
.Social-Box-LatestProjects-Link:hover{
	transition: linear 100ms;
	color: var(--a-bg-color);
}
.Social-Box-LatestProjects-Link:visited {
	text-decoration: none;
}
.Social-Box-LatestProjects-Link:active {
	text-decoration: none;
}
.Social-Contact-List{
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.Social-Logo-Link{
	width: 100%;
	height: 100%;
}
.Social-Logo{
	transition: linear 100ms;
	margin: 10px;
	background-size: cover;
	width: 60px;
	height: 60px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)) invert(0%); 
}
.Social-Logo:hover{
	transition: linear 100ms;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)) invert(100%); 
}
.Social-Mail{
	margin: 0;
	margin-left: 20px;
	line-height: 16px;
}
.Footer {
	font-family: Roboto Mono;
	text-align: center;
	font-style: normal;
	text-align: center;
	color: var(--a-bg-color);
	background-color: var(--e-bg-color);
	height: 400px;
	padding-bottom: 50px;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.Footer-LeftStrip-Container{
	justify-self: flex-start;
	height: 100px;
	width: calc(50% - 150px);
	background-color: var(--a-bg-color);
	box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.Footer-TextBox{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.Footer-Text-Big {
	white-space: nowrap;
	margin: 0;
	line-height: 10px;
	height: 51px;
	font-size: 34px;
	font-kerning: 8px;
	font-weight: 500;
}
.Footer-Text-Small {
	white-space: nowrap;
	margin: 0;
	line-height: 10px;
	height: 27px;
	font-size: 31px;
	font-kerning: 8.5px;
	font-weight: 100;
}
@media (max-width: 1300px) {
	.Header-Header {
		margin: 0;
		width: 100%;
	}
	.Center-Grid-Field {
		margin: 0;
		width: 100%;
	}
	.Social {
		margin: 0;
		width: 100%;
	}
}
@media (max-width: 1050px) {
	.Header-Header {
		flex-direction: column;
		height: auto;
	}
	.Header-Logo-Box {
		height: 120px;
		width: 100%;
	}
	.Navbar-Button{
		display: inline;
	}
	.Header-Logo-Links {
		transition: linear 100ms;
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		display: none;
	}
	.Header-Logo-LinkBox {
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px dotted black;
		width: 90%;
		text-align: start;
	}
	.Header-Logo-LinkBox:last-of-type {
		border-bottom: none;
	}
	.Parallax {
		background-attachment: local;
	}
}
@media (max-width: 900px){
	.Center-Grid-Field{
		grid-template-columns: repeat(2, 300px);
	}
	.Grid-Center{
		grid-column: span 2 / auto;
		width: calc(100% - 50px);
		display: flex;
		margin-left: 50px;
	}
	.Order-Item-4{
		order: 6;
	}
	.Order-Item-5{
		order: 4;
	}
	.Order-Item-6{
		order: 5;
	}
	.Order-Item-8{
		order: 9;
	}
	.Order-Item-9{
		order: 8;
	}
	.Item-Image-Arrow-1{
		transform: rotate(0deg);
	}
	.Item-Image-Arrow-2{
		transform: rotate(0deg);
	}
	.Item-Image-Arrow-3{
		transform: rotate(180deg);
	}
	.Item-Image-Arrow-4{
		transform: rotate(180deg);
	}
	.Social-Container{
		flex-direction: column;
		align-items: center;
	}
	.Social-Right{
		width: 100%;
		justify-content: center;
	}
	.Social-Left{
		width: 100%;
		justify-content: center;
	}
	.Footer-LeftStrip-Container{
		display: none;
	}
}
@media (max-width: 600px){
	.Center-Grid-Field{
		grid-template-columns: 300px;
	}
	.Grid-Center{
		grid-column: 1;
		margin-left: 0;
	}
	.Order-Item-4{
		order: 6;
	}
	.Order-Item-5{
		order: 5;
	}
	.Order-Item-6{
		order: 4;
	}
	.Order-Item-8{
		order: 8;
	}
	.Order-Item-9{
		order: 9;
	}
	.Item-Image-Arrow-1{
		transform: rotate(90deg);
	}
	.Item-Image-Arrow-2{
		transform: rotate(90deg);
	}
	.Item-Image-Arrow-3{
		transform: rotate(90deg);
	}
	.Item-Image-Arrow-4{
		transform: rotate(90deg);
	}
	.Social-Right{
		flex-direction: column;
		height: 600px;
		align-items: center;
	}
}
@media (min-width: 2500px) {
	.Parallax {
		background-size: 100%;
	}
}
